<template>
  <div class="home">
    <Header />
    <Content />
    <Footer />
  </div>
</template>

<script>
import Content from "@/components/Content.vue";
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "Home",
  components: {
    Content,
    Header,
    Footer
  }
};
</script>
