.content {
  position: relative;
  display: felx;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200vh;
  background-image: url("../images/tur.png"), $page-body-gradient;
  background-size: cover;
  background-position: center;
  &__top-curve {
    &__image {
      width: 100%;
    }
  }
  &__head-text {
    width: fit-content;
    margin: 1.7em auto;
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }
  &__card-container {
    width: 450px;
    margin: 5vh auto;
  }
  &__version-two-container {
    width: 95vh;
    height: 95vh;
    margin: 5vh auto;
  }
  &__logo {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 43vh;
    z-index: 0;
    &__image {
      width: 140px;
      height: auto;
    }
    &__name {
      font-size: 70px;
      margin: 0.3em;
      color: #fff;
      font-weight: 300;
    }
  }
  &__footer-curve {
    position: absolute;
    bottom: -2px;
    transform: rotate(180deg);
  }
}

@media (min-width: 1700px) {
  .content {
    height: 160vh;
  }
}

@media (max-width:1025px) {

  .content {

    height: 90vh;
    background-size: 1300px;
    background-position-x: 35%;
    background-position-y: 53%;
    background-repeat: no-repeat;

    &__head-text {
      font-size: 3rem;
    }

    &__version-two-container {
      width: 600px;
      height: 600px;
      margin: 10vh auto;
    }

  }

}

@media (max-width: 770px) {
  
  .content {

    &__head-text {
      font-size: 2rem;
    }

    &__version-two-container {
      width: 500px;
      height: 500px;
      margin: 8vh auto;
    }

  }
}

@media (max-width: 650px) {

  .content{

    height: 120vh;
    &__version-two-container {
      width: 400px;
      height: 400px;
      margin: 8vh auto;
    }

  }
}


@media (max-width: 450px) {
  
  .content {

    height: 90vh;

    &__head-text {
      font-size: 1rem;
    }

    &__version-two-container {
      width: 275px;
      height: 275px;
      margin: 12vh auto;
    }

  }
}

@media (max-width: 370px){
  .content{
  
    &__version-two-container {
        width: 225px;
        height: 225px;
        margin: 12vh auto;
      }
    }

}