.header {
  display: flex;
  justify-content: space-between;
  height: 20vh;
  position: relative;
  background-color: $heading-color;
  padding: $base-padding;
  &__logo {
    display: flex;
    height: 50px;
    align-items: center;
    &__image {
      height: 35px;
      width: auto;
    }
    &__name {
      font-weight: 300;
      margin: 0 10px;
    }
  }
  &__about {
    position: sticky;
    width: 130px;
  }
  &__center-logo {
    position: absolute;
    top: 7vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__image {
      width: 3.5vw;
    }
    &__name {
      font-size: 3vw;
      margin: 0.2em;

      &--res{
        display: none;
      }
    }
    &__motto {
      margin: 0.3em;
      font-size: 1.1vw;
      font-weight: 300;
    }
  }
}

@media (max-width: 1025px){
  .header{

    height: 3vh;

    &__logo{
      display: none;
    }
    &__about{
      display: none;
    }

    &__center-logo {

      flex-direction: row;
      top: 1vw;

      &__image {
        width: 8vw;
      }

      &__name {
        display: none;
  
        &--res{
          color: $light-orange;
          font-size: 6vw;
          font-weight: 400;
          margin-left: 1em;
          display: inline;
        }
      }
      
      &__motto {
        display: none;
      }
    }
  }

}

@media (max-width: 450px){
  .header{
    &__center-logo {
      top: 5vw;

    }
  }

}
