$primary-color: #f37420;
$secondary-color: #f96948;
$thirdinary-color: #353535;
$base-padding: 20px 15%;
$base-card-padding: 10px 10px;
$heading-color: #ffffff;
$footer-color: rgb(248, 81, 87);
$light-orange: #fb8a61;
$base-border-padding: 5px 10px;
$text-color: #eeeeee;
$page-body-gradient: linear-gradient(to right bottom, #fb8a61, #fc686f);
$button-background-color-gradient: linear-gradient(to right, #fc686f, #ff934d);
$button-background-color-gradient-disabled: linear-gradient( to right, #d8d8d8, #c4c4c4);
$border-gradient: linear-gradient(#85bed9, #aea2db, #67c1df, #b7c1c0, #868686);
$version-tow-background-gradient: linear-gradient(to bottom, #fc686f, #ff934d);
$border-radius: 20px;
$border-radius-gradient: 15px;